<h2>Edit Video</h2>

<form action='/videos/<%= "#{@video.id}" %>' method="post">
  <label for="video[title]">Title:</label>
  <input name="video[title]" value='<%= "#{@video.title}" %>'>

  <label for="video[video_url]">Video URL:</label>
  <input name="video[video_url]" value='<%= "#{@video.video_url}" %>'>

  <label for="video[description]">Description:</label>
  <input name="video[description]" value='<%= "#{@video.description}" %>'>

  <input type="submit" value="Create">
</form>
