<h2>Upload a New Video!</h2>


<div class="form-group">
<form class = "form-horizontal" action="/videos" method="post" enctype="multipart/form-data">

  <strong>Username:</strong>
  <input type="text" name="videos[username]"><br>
  

  <strong>Video URL:</strong>
  <input type="text" name="videos[video_url]"><br>

  <strong>Video Title:</strong>
  <input type="text" name="videos[caption]"><br>

  <strong>Description:</strong>
  <input type="text" name="videos[description]"><br>

  <input type="submit" name="Submit">
